<div class="grid">
	<div class="col-12">
		<div class="card">

			<div class="flex flex-column sm:flex-row align-items-center gap-4 mb-3">
				<div class="text-900 text-xl font-semibold">Novo Cliente</div>
				<div class="flex gap-2 sm:ml-auto">
                    <button 
						class="p-button-rounded p-button-outlined"
						(click)="back()" 
						icon="pi pi-arrow-left" 
						pButton 
						pTooltip="Voltar" 
						tooltipPosition="bottom" 
						type="button" 
					></button>
					<button 
						class="p-button-rounded bg-red-500 border-red-500"
						icon="pi pi-trash" 
						pButton 
						pTooltip="Apagar" 
						tooltipPosition="bottom" 
						type="button" 
					></button>
					<button 
						class="p-button-rounded"
						(click)="newClient()" 
						icon="pi pi-save" 
						label="Guardar" 
						pButton 
						tooltipPosition="bottom" 
						type="button" 
					></button>
                </div>
            </div>

			<div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6">
                    <label>Nome</label>
					<span class="p-input-icon-left">
						<i class="pi pi-user"></i>
						<input 
                            [(ngModel)]="name"
                            type="text" 
                            pInputText 
                        />
					</span>
				</div>

                <div class="field col-12 md:col-6">
                    <label>NIF</label>
					<span class="p-input-icon-left">
						<p-inputNumber 
							[(ngModel)]="nif"
							inputId="integeronly"
							[maxlength]="9"
						/> 
					</span>
				</div>

			</div>

		</div>
	</div>
</div>

<p-toast/>