<div class="grid">
	<div class="col-12">
		<div class="card">
			
            <div class="flex flex-column sm:flex-row align-items-center gap-4 mb-3">
				<div class="text-900 text-xl font-semibold">Nova Custo por Hora</div>
				<div class="flex gap-2 sm:ml-auto">
                    <button 
						class="p-button-rounded p-button-outlined"
						(click)="back()" 
						icon="pi pi-arrow-left" 
						pButton 
						pTooltip="Voltar" 
						tooltipPosition="bottom" 
						type="button" 
					></button>
					<button 
						class="p-button-rounded bg-red-500 border-red-500"
						icon="pi pi-trash" 
						pButton 
						pTooltip="Apagar" 
						tooltipPosition="bottom" 
						type="button" 
					></button>
					<button 
						class="p-button-rounded"
						(click)="newCostEmployeeHour()" 
						icon="pi pi-save" 
						label="Guardar" 
						pButton 
						tooltipPosition="bottom" 
						type="button" 
					></button>
                </div>
            </div>
			<div class="p-fluid p-formgrid grid">

                <div class="field col-12 md:col-4">
					<label>Obra</label>
					<p-dropdown 
                        [(ngModel)]="selectedConstruction"
                        [options]="constructionNames" 
                        optionLabel="name" 
                        optionValue="constructionId"
                        placeholder="Selecione uma Obra"
                        (onChange)="getEmployeeNames()" 
					/>
				</div>

                <div class="field col-12 md:col-4">
					<label>Funcionário</label>
					<p-dropdown 
                        [(ngModel)]="selectedEmployee"
                        [options]="employeeNames" 
                        optionLabel="name" 
                        optionValue="id"
                        placeholder="Selecione um Funcionário" 
                        [ngClass]="{ 'ng-dirty ng-invalid': !selectedEmployee }"
					/>
				</div>

                <div class="field col-12 md:col-4">
                    <label>Valor</label>
					<p-inputNumber 
                        [(ngModel)]="hourCost"
                        mode="currency"
                        currency="EUR" 
                        locale="de-DE"
					/>
				</div>

			</div>
		</div>
	</div>
</div>

<p-toast />