<div class="grid">
	<div class="col-12">
		<div class="card">

			<div class="flex flex-column sm:flex-row align-items-center gap-4 mb-3">
				<div class="text-900 text-xl font-semibold">Nova Obra</div>
				<div class="flex gap-2 sm:ml-auto">
                    <button 
						class="p-button-rounded p-button-outlined"
						(click)="back()" 
						icon="pi pi-arrow-left" 
						pButton 
						pTooltip="Voltar" 
						tooltipPosition="bottom" 
						type="button" 
					></button>
					<button 
						class="p-button-rounded bg-red-500 border-red-500 hover:shadow-8"
						icon="pi pi-trash" 
						pButton 
						pTooltip="Apagar" 
						tooltipPosition="bottom" 
						type="button" 
					></button>
					<button 
						class="p-button-rounded"
						(click)="newConstruction()" 
						icon="pi pi-save" 
						label="Guardar" 
						pButton 
						tooltipPosition="bottom" 
						type="button" 
					></button>
                </div>
            </div>

			<div class="p-fluid p-formgrid grid">

                <div class="field col-12 md:col-4">
					<label>Nome</label>
					<input 
						type="text" 
						pInputText 
						[(ngModel)]="name" 
					/>
				</div>

				<div class="field col-12 md:col-4">
					<label>Local</label>
					<input 
						type="text" 
						pInputText 
						[(ngModel)]="local" 
					/>
				</div>

                <div class="field col-12 md:col-4">
					<label>Cliente</label>
					<p-dropdown 
                        [(ngModel)]="selectedClient"
                        [options]="clientNames" 
                        optionLabel="name" 
                        optionValue="id"
                        placeholder="Selecione um Cliente" 
                        [ngClass]="{ 'ng-dirty ng-invalid': !selectedClient }"
					/>
				</div>

				<div class="field col-12 md:col-4">
					<label>Data de Ajudicação</label>
					<p-calendar 
						[(ngModel)]="adjudicationDate"
                        [iconDisplay]="'input'" 
                        [showIcon]="true" 
                        inputId="icondisplay" 
                    />
				</div>

				<div class="field col-12 md:col-3">
					<label>Distância</label>
					<p-inputNumber
						[(ngModel)]="distance"
						autocomplete="off" 
						mode="currency"
						inputId="currency-germany"
						currency="EUR" 
						locale="de-DE" 
					/> 
				</div>

				<div class="field col-12 md:col-2">
					<label>Imagem</label>
					<p-fileUpload 
						mode="basic" 
						chooseLabel="Escolher" 
						chooseIcon="pi pi-upload"
						name="demo[]" 
						url="https://www.primefaces.org/cdn/api/upload.php" 
						accept="image/*" 
					/>
				</div>

				<div class="field col-12 md:col-2">
					<label>Items do Orçamento</label>
					<p-button 
						class="mr-2 w-100"
						label="Adicionar" 
						icon="pi pi-plus"
						(click)="addInput()" 
					/>
				</div>

			</div>

			
			<!--<form [formGroup]="dynamicForm">
				<div *ngIf="inputs.length != 0">
				  	<h4>Itens Orçamento</h4>
				</div>
				<div formArrayName="inputs" class="grid p-fluid p-formgrid">
				  	<ng-container *ngFor="let input of inputs.controls; let i = index" [formGroupName]="i">
						<div class="field col-12 md:col-6">
					  		<label>Nome Item</label>
							<span class="p-input-icon-left">
								<i class="pi pi-id-card"></i>
								<input 
									type="text" 
									pInputText 
									formControlName="name" 
								/>
							</span>
						</div>
			  
						<div class="field col-12 md:col-2">
							<label>Ações</label>
							<div>
								<p-button 
									class="mr-1" 
									severity="info" 
									icon="pi pi-plus" 
									(click)="addInput()" 
								/>
								<p-button 
									severity="danger" 
									icon="pi pi-trash" 
									(click)="removeInput(i)" 
								/>
							</div>
						</div>
			  
						<div formArrayName="subInputs" class="col-12">
							<div class="grid p-fluid p-formgrid">
								<ng-container *ngFor="let subInput of getSubInputs(i).controls; let j = index" [formGroupName]="j">
									<div class="field col-12 md:col-4">
										<label>Nome Sub-Item</label>
										<span class="p-input-icon-left">
											<i class="pi pi-id-card"></i>
											<input 
												type="text" 
												pInputText 
												formControlName="name" 
											/>
										</span>
									</div>
						
									<div class="field col-12 md:col-2">
										<label>Valor</label>
										<p-inputNumber 
											formControlName="value" 
											autocomplete="off"
											mode="currency" 
											inputId="currency-germany" 
											currency="EUR" 
											locale="de-DE" 
										/>
									</div>
						
									<div class="field col-12 md:col-2">
										<label>Ações</label>
										<div>
											<p-button 
												class="mr-1" 
												severity="info" 
												icon="pi pi-plus" 
												(click)="addSubInput(i)" 
											/>
											<p-button 
												severity="danger" 
												icon="pi pi-trash" 
												(click)="removeSubInput(i, j)" 
											/>
										</div>
									</div>
								</ng-container>
							</div>
						</div>

						<p-divider class="col-12" />

					</ng-container>
				</div>
			</form>-->

			<form [formGroup]="dynamicForm">
				<p-table [value]="inputs.controls">
					<ng-template pTemplate="header">
						<tr>
							<th>Novo Item</th>
							<th>Nome Item</th>
							<th>Valor</th>
							<th>Ações</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-input let-rowIndex="rowIndex" formArrayName="inputs">
						<tr [formGroupName]="rowIndex">
							<td>
								<p-button class="mr-1" severity="info" icon="pi pi-plus" (click)="addInput()"></p-button>
							</td>
							<td>
								<input type="text" pInputText formControlName="name" placeholder="Nome do Item" class="border-none shadow-none" />
							</td>
							<td>
								<p-inputNumber
									class="border-none shadow-none"
									formControlName="value"
									autocomplete="off"
									mode="currency"
									inputId="currency-germany"
									currency="EUR"
									locale="de-DE"
									
								></p-inputNumber>
							</td>
							<td>
								<p-button class="mr-1" severity="info" icon="pi pi-plus" (click)="addSubInput(rowIndex)"></p-button>
								<p-button severity="danger" icon="pi pi-trash" (click)="removeInput(rowIndex)"></p-button>
							</td>
						</tr>
						<tr *ngIf="getSubInputs(rowIndex).length > 0" [formGroupName]="rowIndex" formArrayName="subInputs">
							<td></td>
							<td colspan="3">
								<p-table [value]="getSubInputs(rowIndex).controls">
									<ng-template pTemplate="header">
										<tr>
											<th>Nome Sub-Item</th>
											<th>Valor</th>
											<th>Ações</th>
										</tr>
									</ng-template>
									<ng-template pTemplate="body" let-subInput let-subIndex="subIndex">
										<tr [formGroupName]="subIndex">
											<td>
												<input type="text" pInputText formControlName="subName" placeholder="Nome do Sub-Item" class="border-none shadow-none" />
											</td>
											<td>
												<p-inputNumber
													class="border-none shadow-none"
													formControlName="subValue"
													autocomplete="off"
													mode="currency"
													inputId="currency-germany"
													currency="EUR"
													locale="de-DE"
												></p-inputNumber>
											</td>
											<td>
												<p-button class="mr-1" severity="info" icon="pi pi-plus" (click)="addSubInput(rowIndex)"></p-button>
												<p-button severity="danger" icon="pi pi-trash" (click)="removeSubInput(rowIndex, subIndex)"></p-button>
											</td>
										</tr>
									</ng-template>
								</p-table>
							</td>
						</tr>
					</ng-template>
				</p-table>
			</form>
			
		</div>
	</div>
</div>

<p-toast />