<div class="grid">
	<div class="col-12">
		<div class="card">

            <p-tabView (onChange)="handleChange($event)">
                <p-tabPanel header="Entrada">

                    <div class="flex flex-column sm:flex-row align-items-center gap-4 mb-3">
                        <div class="text-900 text-xl font-semibold">Entrada de Artigos</div>
                        <div class="flex sm:ml-auto">
                            <button 
                                class="p-button-rounded"
                                icon="pi pi-download" 
                                pTooltip="Exportar" 
                                tooltipPosition="bottom" 
                                pButton 
                                type="button" 
                            ></button>
                        </div>
                    </div>

                    <p-table
                        [lazy]="true"
                        (onLazyLoad)="onEntriesLazyLoad($event)"
                        [paginator]="true"
                        [rows]="20"
                        [showCurrentPageReport]="true"
                        [tableStyle]="{ 'min-width': '50rem' }"
                        currentPageReportTemplate="{first} de {last} de {totalRecords} registos totais"
                        [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
                        styleClass="p-datatable-striped"
                        [totalRecords]="totalRecords"
                        [value]="stockEntries"
                    >

                        <ng-template pTemplate="header">
                            <tr>
                                <th>Data</th>
                                <th>Código</th>
                                <th>
                                    <div class="flex align-items-center">
                                        Número de Documento
                                        <p-columnFilter field="documentNumber" matchMode="contains" display="menu"
                                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [showApplyButton]="false" [showClearButton]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)" placeholder="Pesquisar..." />
                                            </ng-template>
                                        </p-columnFilter>
                                    </div>
                                </th>
                                <th>
                                    <div class="flex align-items-center">
                                        Origem
                                        <p-columnFilter field="origin" matchMode="equals" display="menu"
                                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [showApplyButton]="false" [showClearButton]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-dropdown [ngModel]="value" [options]="originNames" optionLabel="name" optionValue="id"
                                                    placeholder="Todas" [showClear]="true" [filter]="true" filterBy="name" appendTo="body" [style]="{ 'min-width': '14rem' }"
                                                    (onChange)="filter($event.value)" />
                                            </ng-template>
                                        </p-columnFilter>
                                    </div>
                                </th>
                                <th>
                                    <div class="flex align-items-center">
                                        Nome
                                        <p-columnFilter field="itemName" matchMode="contains" display="menu"
                                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [showApplyButton]="false" [showClearButton]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)" placeholder="Pesquisar..." />
                                            </ng-template>
                                        </p-columnFilter>
                                    </div>
                                </th>
                                <th>Quantidade</th>
                                <th>Unidade</th>
                                <th>Valor Unitário</th>
                                <th>Valor Total</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-article>
                            <tr>
                                <td>{{ article.date | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ article.articleCode }}</td>
                                <td>{{ article.documentNumber }}</td>
                                <td>{{ article.origin }}</td>
                                <td>{{ article.articleName }}</td>
                                <td>{{ article.quantity }}</td>
                                <td>{{ article.unit }}</td>
                                <td>{{ article.unitValue | number: '1.2-2' }} €</td>
                                <td>{{ article.totalValue | number: '1.2-2' }} €</td>

                            </tr>
                        </ng-template>

                    </p-table>

                </p-tabPanel>

                <p-tabPanel header="Saída">

                    <div class="flex flex-column sm:flex-row align-items-center gap-4 mb-3">
                        <div class="text-900 text-xl font-semibold">Saída de Artigos</div>
                        <div class="flex sm:ml-auto">
                            <button label="Novo" (click)="issueArticle()" type="button" pButton icon="pi pi-plus" class="p-button-rounded p-button-outlined"></button>
                        </div>
                    </div>

                    <p-table
                        [lazy]="true"
                        (onLazyLoad)="onExitsLazyLoad($event)"
                        [paginator]="true"
                        [rows]="20"
                        [showCurrentPageReport]="true"
                        [tableStyle]="{ 'min-width': '50rem' }"
                        currentPageReportTemplate="{first} de {last} de {totalRecords} registos totais"
                        [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
                        styleClass="p-datatable-striped"
                        [totalRecords]="totalRecords"
                        [value]="stockExits"
                    >

                        <ng-template pTemplate="header">
                            <tr>
                                <th>Data</th>
                                <th>Código</th>
                                <th>
                                    <div class="flex align-items-center">
                                        Número de Documento
                                        <p-columnFilter field="documentNumber" matchMode="contains" display="menu"
                                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [showApplyButton]="false" [showClearButton]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)" placeholder="Pesquisar..." />
                                            </ng-template>
                                        </p-columnFilter>
                                    </div>
                                </th>
                                <th>
                                    <div class="flex align-items-center">
                                        Origem
                                        <p-columnFilter field="origin" matchMode="equals" display="menu"
                                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [showApplyButton]="false" [showClearButton]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-dropdown [ngModel]="value" [options]="originNames" optionLabel="name" optionValue="id"
                                                    placeholder="Todas" [showClear]="true" [filter]="true" filterBy="name" appendTo="body" [style]="{ 'min-width': '14rem' }"
                                                    (onChange)="filter($event.value)" />
                                            </ng-template>
                                        </p-columnFilter>
                                    </div>
                                </th>
                                <th>
                                    <div class="flex align-items-center">
                                        Nome
                                        <p-columnFilter field="itemName" matchMode="contains" display="menu"
                                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [showApplyButton]="false" [showClearButton]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)" placeholder="Pesquisar..." />
                                            </ng-template>
                                        </p-columnFilter>
                                    </div>
                                </th>
                                <th>Quantidade</th>
                                <th>Unidade</th>
                                <th>Valor Unitário</th>
                                <th>Valor Total</th>
                                <th>Obra</th>
                                <th></th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-article>
                            <tr>
                                <td>{{ article.date | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ article.articleCode }}</td>
                                <td>{{ article.documentNumber }}</td>
                                <td>{{ article.origin }}</td>
                                <td>{{ article.articleName }}</td>
                                <td>{{ article.quantity }}</td>
                                <td>{{ article.unit }}</td>
                                <td>{{ article.unitValue | number: '1.2-2' }} €</td>
                                <td>{{ article.totalValue | number: '1.2-2' }} €</td>
                                <td>{{ article.constructionName }}</td>
                                <td>
                                    <button
                                        *ngIf="article.expenseId"
                                        pButton
                                        type="button"
                                        icon="pi pi-pencil"
                                        class="p-button-rounded p-button-text p-button-success"
                                        pTooltip="Editar fatura"
                                        tooltipPosition="bottom"
                                        (click)="editExpense(article.expenseId)"
                                    ></button>
                                </td>
                            </tr>
                        </ng-template>
                        
                    </p-table>
                </p-tabPanel>

                <p-tabPanel header="Stock">

                    <div class="flex flex-column sm:flex-row align-items-center gap-4 mb-3">
                        <div class="text-900 text-xl font-semibold">Stock</div>
                        <div class="flex gap-2 sm:ml-auto">
                            <p-calendar 
                                (onSelect)="getStockAsOfDate()"
                                [(ngModel)]="date"
                                dateFormat="dd/mm/yy"
                                [iconDisplay]="'input'" 
                                [showIcon]="true" 
                                inputId="icondisplay" 
                            />
                            <button type="button" pButton pTooltip="Exportar" tooltipPosition="bottom" icon="pi pi-download" class="p-button-rounded"></button>
                        </div>
                    </div>

                    <p-table
                        [lazy]="true"
                        (onLazyLoad)="onStockLazyLoad($event)"
                        [paginator]="true"
                        [rows]="20"
                        [showCurrentPageReport]="true"
                        [tableStyle]="{ 'min-width': '50rem' }"
                        currentPageReportTemplate="{first} de {last} de {totalRecords} registos totais"
                        [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
                        styleClass="p-datatable-striped"
                        [totalRecords]="totalRecords"
                        [value]="articlesStock"
                    >

                        <ng-template pTemplate="header">
                            <tr>
                                <th>Código</th>
                                <th>
                                    <div class="flex align-items-center">
                                        Número de Documento
                                        <p-columnFilter field="documentNumber" matchMode="contains" display="menu"
                                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [showApplyButton]="false" [showClearButton]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)" placeholder="Pesquisar..." />
                                            </ng-template>
                                        </p-columnFilter>
                                    </div>
                                </th>
                                <th>
                                    <div class="flex align-items-center">
                                        Origem
                                        <p-columnFilter field="origin" matchMode="equals" display="menu"
                                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [showApplyButton]="false" [showClearButton]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-dropdown [ngModel]="value" [options]="originNames" optionLabel="name" optionValue="id"
                                                    placeholder="Todas" [showClear]="true" [filter]="true" filterBy="name" appendTo="body" [style]="{ 'min-width': '14rem' }"
                                                    (onChange)="filter($event.value)" />
                                            </ng-template>
                                        </p-columnFilter>
                                    </div>
                                </th>
                                <th>
                                    <div class="flex align-items-center">
                                        Nome
                                        <p-columnFilter field="itemName" matchMode="contains" display="menu"
                                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [showApplyButton]="false" [showClearButton]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)" placeholder="Pesquisar..." />
                                            </ng-template>
                                        </p-columnFilter>
                                    </div>
                                </th>
                                <th>Quantidade em Stock</th>
                                <th>Unidade</th>
                                <th>Valor Unitário</th>
                                <th>Valor Total</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-article>
                            <tr>
                                <td>{{ article.code }}</td>
                                <td>{{ article.documentNumber }}</td>
                                <td>{{ article.origin }}</td>
                                <td>{{ article.name }}</td>
                                <td>{{ article.quantity }}</td>
                                <td>{{ article.unit }}</td>
                                <td>{{ article.unitValue | number: '1.2-2' }} €</td>
                                <td>{{ article.totalValue | number: '1.2-2' }} €</td>
                            </tr>
                        </ng-template>

                    </p-table>
                </p-tabPanel>

            </p-tabView>

		</div>
	</div>
</div>