<div class="grid">
	<div class="col-12">
		<div class="card">

			<div class="flex flex-column sm:flex-row align-items-center gap-4 mb-3">
				<div class="text-900 text-xl font-semibold">Novo Pagamento</div>
				<div class="flex gap-2 sm:ml-auto">
                    <button 
						class="p-button-rounded p-button-outlined"
						(click)="back()" 
						icon="pi pi-arrow-left" 
						pButton 
						pTooltip="Voltar" 
						tooltipPosition="bottom" 
						type="button" 
					></button>
					<button 
						class="p-button-rounded bg-red-500 border-red-500"
						icon="pi pi-trash" 
						pButton 
						pTooltip="Apagar" 
						tooltipPosition="bottom" 
						type="button" 
					></button>
					<button 
						class="p-button-rounded"
						(click)="newPayment()" 
						icon="pi pi-save" 
						label="Guardar" 
						pButton 
						tooltipPosition="bottom" 
						type="button" 
					></button>
                </div>
            </div>

			<div class="p-fluid p-formgrid grid">

				<div class="field col-12 md:col-4">
                    <label>Data</label>
					<p-calendar 
						[(ngModel)]="date"
						dateFormat="dd/mm/yy"
                        [iconDisplay]="'input'" 
                        [showIcon]="true" 
                        inputId="icondisplay" 
                    />
				</div>

				<div class="field col-12 md:col-4">
                    <label>Número de Documento</label>
					<span class="p-input-icon-left">
						<i class="pi pi-id-card"></i>
						<input 
							[(ngModel)]="documentNumber"
							type="text" 
							pInputText 
						/>
					</span>
				</div>

				
                <div class="field col-12 md:col-4">
					<label>Conta</label>
					<p-dropdown 
						[(ngModel)]="selectedAccount"
                        [options]="accountNames" 
                        optionLabel="name" 
						optionValue="objectId"
                        placeholder="Selecione uma Conta" 
						[ngClass]="{ 'ng-dirty ng-invalid': !selectedAccount }"
					/>
				</div>

				<div class="field col-12 md:col-4">
					<label>Método de Pagamento</label>
					<p-dropdown 
						[(ngModel)]="selectedPaymentMethod"
                        [options]="paymentMethods | keyvalue" 
                        optionLabel="value" 
						optionValue="key"
                        placeholder="Selecione um Método de Pagamento" 
						[ngClass]="{ 'ng-dirty ng-invalid': !selectedPaymentMethod }"
					/>
				</div>

				<div class="field col-12 md:col-4">
					<label>Origem</label>
					<p-dropdown
						(onChange)="getExpenses()"
						[options]="origins" 
						[(ngModel)]="selectedOrigin" 
						placeholder="Selecione uma origem" 
						[group]="true"
						[filter]="true"
						filterBy="label"
						optionLabel="label"
						optionValue="value"
					>
						<ng-template let-group pTemplate="group">
							<div class="flex align-items-center">
								<span>{{ group.label }}</span>
							</div>
						</ng-template>
					</p-dropdown>
				</div>

				<p-table 
					*ngIf="selectedExpenses.length > 0"
					[value]="selectedExpenses" 
					class="col-12" 
					[(selection)]="expensesSelected"
					(onRowSelect)="onCheckboxChange($event)"
					(onRowUnselect)="onCheckboxUnchange($event)"
					(onHeaderCheckboxToggle)="selectAll($event)"
					styleClass="p-datatable-striped" 
				>

					<ng-template pTemplate="caption">
						<div class="flex align-items-center justify-content-between">
							Faturas em Débito
							<small>Valor total: {{ sumTotalValues | currency: 'EUR' }}</small>
						</div>
					</ng-template>

					<ng-template pTemplate="header">
						<tr class="border-left-3 border-solid border-primary">
							<th><p-tableHeaderCheckbox /></th>
							<th>Número de Documento</th>
							<th>Data</th>
							<th>Valor Total</th>
							<th>Valor em Débito</th>
							<th>Valor a Pagar</th>
						</tr>
					</ng-template>

					<ng-template pTemplate="body" let-expense let-i="rowIndex">
						<tr>
							<td [ngClass]="{'selected border-round border-bottom-none border-primary' : isSelected(expense)}">
								<p-tableCheckbox [value]="expense" />
							</td>
							<td class=font-bold>{{ expense.documentNumber }}</td>
							<td>{{ expense.paymentDeadline | date: 'dd/MM/yyyy' }}</td>
							<td>{{ expense.totalValue | currency: 'EUR' }}</td>
							<td>{{ expense.debtValue | currency: 'EUR' }}</td>
							<td>
								<p-inputNumber
									[disabled]="!isSelected(expense)"
									[(ngModel)]="expenseValues[i]" 
									(onBlur)="changeValue()"
									placeholder="Insira valor a pagar"
									mode="currency"
									inputId="currency-germany"
									currency="EUR" 
									locale="de-DE" 
								/>
							</td>
						</tr>
					</ng-template>
                
            	</p-table>

			</div>
		</div>
	</div>
</div>

<p-toast />