<div class="grid">
	<div class="col-12">
		<div class="card">

            <div class="flex flex-column sm:flex-row align-items-center gap-4 mb-3">
                <div class="text-900 text-xl font-semibold">Conta Corrente</div>
                <div class="flex gap-4 sm:ml-auto">
                    <p-dropdown
                        styleClass="w-18rem"
                        [options]="origins"
                        [(ngModel)]="selectedOrigin"
                        placeholder="Selecione uma origem"
                        [group]="true"
                        [filter]="true"
                        filterBy="label"
                        optionLabel="label"
                        optionValue="value"
                        (onChange)="changeValue($event)">
                        <ng-template let-group pTemplate="group">
                            <div class="flex align-items-center">
                                <span>{{ group.label }}</span>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <button 
                        class="p-button-rounded"
                        icon="pi pi-download" 
                        pButton 
                        pTooltip="Exportar" 
                        tooltipPosition="bottom" 
                        type="button" 
                    ></button>
                </div>
            </div>

			<p-table 
                currentPageReportTemplate="{first} de {last} de {totalRecords} registos de conta corrente"
                [lazy]="true"
                [loading]="loading"
                (onLazyLoad)="nextPage($event)"
                [paginator]="true"
                [rows]="5"
                [rowsPerPageOptions]="[5, 10, 20]"
                [showCurrentPageReport]="true"
                styleClass="p-datatable-striped" 
                [totalRecords]="totalRecords"
                [tableStyle]="{ 'min-width': '50rem' }"
                [value]="currentAccountLogs"
            >
            
                <ng-template pTemplate="header">
                    <tr>
                        <th>Data</th>
                        <th>Número de Documento</th>
                        <th>Método de Pagamento</th>
                        <th>Descrição</th>
                        <th>Crédito</th>
                        <th>Débito</th>
                        <th>Saldo</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-currentAccountLog>
                    <tr>
                        <td>{{ currentAccountLog.date | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ currentAccountLog.documentNumber }}</td>
                        <td *ngIf="currentAccountLog.paymentMethod !== null; else emptyPaymentMethod"><span [class]="'payment-badge status-' + currentAccountLog.paymentMethod.toLowerCase()">{{ PaymentMethod[currentAccountLog.paymentMethod] }}</span></td>
                        <ng-template #emptyPaymentMethod><td></td></ng-template>
                        <td>{{ currentAccountLog.description }}</td>
                        <td class="text-green-500 font-semibold">{{ currentAccountLog.credit !== 0 ? (currentAccountLog.credit | currency: 'EUR') : '' }}</td>
                        <td class="text-red-500 font-semibold">{{ currentAccountLog.debt !== 0 ? (currentAccountLog.debt | currency: 'EUR') : '' }}</td>
                        <td class="font-semibold" [ngStyle]="{'color' : getBalanceColor(currentAccountLog.balance)}">{{ currentAccountLog.balance | currency: 'EUR' }}</td>
                    </tr>
                </ng-template>
                
            </p-table>

		</div>
	</div>
</div>