<div class="grid">
	<div class="col-12">
		<div class="card">

            <div class="flex flex-column sm:flex-row align-items-center gap-4 mb-3">
                <div class="text-900 text-xl font-semibold">
                    Mapa Banco
                    <div>
                        <div class="block text-500 font-medium">Saldo: 
                            <span class="font-semibold text-xl" [ngClass]="balance > 0 ? 'text-green-500' : balance < 0 ? 'text-red-500' : 'text-900'">{{ balance | currency: 'EUR' }}</span>
                        </div>
                    </div>
                </div>
                <div class="flex gap-4 sm:ml-auto">
                    <p-dropdown
                        styleClass="w-18rem"
                        [options]="accountNames" 
                        placeholder="Selecione uma Conta" 
                        optionLabel="name"
                        (onChange)="changeValue($event)">
                    </p-dropdown>
                    <button 
                        class="p-button-rounded"
                        icon="pi pi-download" 
                        pButton 
                        pTooltip="Exportar" 
                        tooltipPosition="bottom" 
                        type="button" 
                    ></button>
                </div>
            </div>

			<p-table 
                currentPageReportTemplate="{first} de {last} de {totalRecords} registos de conta"
                [lazy]="true"
                [loading]="loading"
                (onLazyLoad)="nextPage($event)"
                [paginator]="true"
                [rows]="5"
                [rowsPerPageOptions]="[5, 10, 20]"
                [showCurrentPageReport]="true"
                styleClass="p-datatable-striped" 
                [totalRecords]="totalRecords"
                [tableStyle]="{ 'min-width': '50rem' }"
                [value]="accountLogs"
            >

                <ng-template pTemplate="header">
                    <tr>
                        <th>Data</th>
                        <th>Número de Documento</th>
                        <th>Tipo de Movimento</th>
                        <th>Crédito</th>
                        <th>Débito</th>
                        <th>Saldo</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-accountLog>
                    <tr>
                        <td>{{ accountLog.date | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ accountLog.documentNumber }}</td>
                        <td><!--<p-tag [value]="MovementType[accountLog.movementType]" [severity]="getMovementTypeSeverity(accountLog.movementType)"/>--></td>
                        <td class="text-green-600 font-medium">{{ accountLog.credit !== 0 ? (accountLog.credit | currency: 'EUR') : '' }}</td>
                        <td class="text-red-600 font-medium">{{ accountLog.debt !== 0 ? (accountLog.debt | currency: 'EUR') : '' }}</td>
                        <td class="font-medium" [ngStyle]="{'color' : getBalanceColor(accountLog.balance)}">{{ accountLog.balance | currency: 'EUR' }}</td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="text-center" colspan="6">Sem registos.</td>
                    </tr>
                  </ng-template>
                
            </p-table>

		</div>
	</div>
</div>